/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
body{
    background: rgb(0,149,135);
    background: linear-gradient(180deg, rgba(0,149,135,1) 20%, rgba(213,218,216,1) 20%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    font-family: Verdana, sans-serif;
}
.padding{
    padding: 10px;
}
.fas, .far{
    color: #bcbcbc;
    font-size: 20px;
}
.header .fas{
    padding-left: 15px;
}
.header{
    height: 10%;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-img img{
    width: 50px;
    border-radius: 50%;
}
.header-contact-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/*App container*/
.app-container{
    height: 700px;
    max-width: 1200px;
    min-width: 900px;
    margin: 30px auto;
    background-color: grey;
}

/*Parte SX*/
.sx-container{
    float: left;
    width: 35%;
    height: 100%;
}
/*Header SX*/
.sx-container .header{
    border-right: 1px solid gray;
}
.sx-container .notifiche-container{
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #8edafb;
}
/*Notifiche*/
.notifiche-container .bell-container{
    padding: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
}
.bell-container .fas{
    color: #8edafb;
}
.notifiche a{
    color: #6a9fb7;
}
/*Cerca*/
.cerca-container{
    height: 10%;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
}
.cerca-container .cerca{
    background-color: white;
    padding-left: 10px;
    
}
.cerca input{
    height: 40px;
    width: 300px;
    border: none;
}
.cerca .fas{
    cursor: pointer;
}
/*Main SX*/
.sx-container .main{
    height: 70%;
}
/*Lista contatti*/
.lista-contatti-container{
    height: 100%;
    background-color: white;
}
.lista-contatti-container .contatto{
    height: 20%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}
.lista-contatti-container .contatto:hover{
    background-color: lightgray;
}
/*Contatto*/
.contatto img{
    border-radius: 50%;
    width: 60px;
    margin-right: 20px;
}
.contatto p{
    position: relative;
    bottom: 15px;
}
.active{
    background-color: lightgray;
}

/*Parte DX*/
.dx-container{
    float: right;
    width: 65%;
    height: 700px;/*DEBUG*/
}
/*Header DX*/
.ultimo-accesso{
    font-size: 15px;
    color: #bcbcbc;
}
/*Main DX*/
.dx-container .main{
    height: 90%;
}
/*Area messaggi*/
.main .message-area{
    height: 90%;
    background-color: #e1dad2;
    padding: 20px 40px;
    overflow: auto;
}
/*barra Messaggio input*/
.main .write-message{
    height: 10%;
    background-color: #eaeaea;
}
.main .write-message .input-message{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input-message input{
    width: 700px;
    border: none;
    padding: 10px 0;
}
#microfono{
    color: #6a7376;
}
/*Messaggi*/
.message-box{
    display: flex;
}
.message{
    position: relative;
}
.received{
    justify-content: flex-start;
}
.sent{ 
    justify-content: flex-end;
}
.message-sent{   
    background-color: #d5f9ba;
    border-radius: 10px;
    padding: 20px 10px;
    max-width: 50%;
    min-width: 30%;
    margin-bottom: 10px;
    
}
.message-received{   
    background-color: white;
    border-radius: 10px;
    padding: 20px 10px;
    max-width: 50%;
    min-width: 30%;
    margin-bottom: 10px;
     
}
.data{
    font-size: 7px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
    color: gray;
}
