<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <!--ROOT-->
    <div id="root">

        <!--MAIN-->
        <main>
            <div class="app-container">

                <!--Parte SX-->
                <div class="sx-container">
                    <!--header SX-->
                    <!--Info Utente + Menu-->
                    <div class="header padding">
                        <div class="header-contact-info">
                            <div class="header-img">
                                <img src="img/avatar_io.jpg" alt="avatar_io">
                            </div>
                            <div class="username">
                                <p>Nome Utente</p>
                            </div>
                        </div>
                        <div class="menu">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!--Fine Info Utente + Menu-->
                    <!--Notifiche-->
                    <div class="notifiche-container padding">
                        <div class="bell-container">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="notifiche">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="*">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!--Fine Notifiche-->
                    <!--Filtro-->
                    <div class="cerca-container padding">
                        <div class="cerca ">
                            <i class="fas fa-search"></i>
                            <input 
                            v-model="contenutoFiltro"
                            @keyup="filtro"
                            type="text" 
                            placeholder="Cerca o trova una nuova chat">
                        </div>
                    </div>
                    <!--Fine Filtro-->
                    <!--fine header SX-->
                    <!--main SX-->
                    <div class="main">
                        <!--Lista Contatti-->
                        <div class="lista-contatti-container">
                            <!--Contatti-->
                            <div 
                            v-for="(contatto, index) in contacts" 
                            class="contatto padding" 
                            :class="{ 'active' : index == contattoAttivo}"
                            v-if="contatto.visible==true"
                            @click="cambiaContatto(index)">
                                <img v-bind:src="'img/avatar' + contatto.avatar + '.jpg'" alt="contatto.name">
                                <div class="last-container"> 
                                <p class="nome-contatto">{{ contatto.name }}</p>
                                <p v-if="contatto.messages.length" class="ultimo-massaggio">{{ limitaStringa(contatto.messages[contatto.messages.length-1].text) }}</p>
                                <p class="online" v-else>Online</p> <!--IL PROBLEMA E' QUI'-->
                                </div>
                                <p  v-if="contatto.messages.length" class="ultima-data">{{ contatto.messages[contatto.messages.length-1].date }}</p>
                            </div>
                            <!--Fine Contatti-->
                        </div>
                        <!--Fine Lista Contatti-->
                    </div>
                    <!--fine main SX-->
                </div>
                <!--Parte SX-->
                <!--Parte DX-->
                <div class="dx-container">
                    <!--header Dx-->
                    <!--Info Utente + Menu-->
                    <div class="header padding">
                        <div class="header-contact-info">
                            <div class="header-img">
                                <img :src="'img/avatar' + contacts[contattoAttivo].avatar + '.jpg'" alt="contacts[contattoAttivo].name">
                            </div>
                            <div class="username">
                                <p>{{ contacts[contattoAttivo].name }}</p>
                                <p class="ultimo-accesso">Ultimo accesso oggi alle</p>
                            </div>
                        </div>
                        <div class="menu">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!--Fine Info Utente + Menu-->
                    <!--fine header Dx-->
                     <!--main Dx-->
                     <div class="main">
                         <!--Area Messaggi-->
                         <div class="message-area">
                             <div v-for="(message, index) in contacts[contattoAttivo].messages" :class="message.status" class="message-box">
                                 <div 
                                 class="message" 
                                 :class="message.status == 'sent' ? 'message-sent' : 'message-received'"
                                 >
                                    <p>{{message.text}}</p>
                                    <p class="data">{{message.date}}</p>
                                    <span id="icona-menu-tendina"><i 
                                        @click=" mostraDropdown(index)"
                                        class="fas fa-chevron-down"></i></span>
                                    <!--Dropdown-->
                                    <div
                                    v-if="message.dropdownVisibility == true" 
                                    class="dropdown">
                                        <ul class="dropdown-menu">
                                            <li>info messaggio</li>
                                            <li
                                            @click="cancellaMessagio(index)" 
                                            class="cancella-messaggio">cancella messaggio</li>
                                        </ul>
                                    </div>
                                    <!--Fine Dropdown-->
                                 </div>
                             </div>
                         </div>
                         <!--Fine Area Messaggi-->
                         <!--Barra Messaggio Input-->
                         <div class="write-message">
                            <div class="input-message">
                            <i class="far fa-smile"></i>
                                <input 
                                v-model="messaggioInputUtente" 
                                v-on:keyup.enter="inviaMessaggio()"
                                type="text" 
                                placeholder="scrivi un nuovo messaggio">
                                <i id="microfono" class="fas fa-microphone"></i>
                            </div>
                         </div>
                         <!--Fine Barra Messaggio Input-->
                    </div>
                    <!--fine main Dx-->
                </div>
                <!--fine Parte DX-->
            </div>
            
        </main>
        <!--FINE MAIN-->

    </div>
    <!--FINE ROOT-->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>